# output files
calcest
test_*
*.o

# generated onions
*.onion

# local artifacts
.DS_Store
.gocache
.gomodcache
.gopath
aws-lc-install
iroh-keys.txt
mkp-iroh
mkp-iroh-z32
mkp224o
third_party/aws-lc

# garbage
configure
configure~
GNUmakefile
GNUmakefile.in.bak
config.status
config.log
*.cache
