# output files
calcest
test_*
*.o

# generated onions
*.onion

# local artifacts
.DS_Store
iroh-keys.txt
mkp-iroh
mkp-iroh-z32
mkp224o

# garbage
configure
configure~
GNUmakefile
GNUmakefile.in.bak
config.status
config.log
*.cache
